.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0E3740;
    padding: 10px 20px;
    border-bottom: 8px solid #3A8C8C;
}

.header .logo {
    width: 60px;
}